.building-placeholder{
    border-style: solid;
    background-color: rgb(211, 238, 255);
    width: 300px;
	height: 360px;
    padding:25px;
}

.cns-container{
    margin: auto;
    border-style: solid ;
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: 36% 58%;
    grid-auto-rows: minmax(50px, auto);
    grid-gap:20px;
    width: 52%;
    height: 700px;
}

.cns-campus-name{
    border-style: solid;
    text-align: left;
}