.cl-flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 50px;
    margin-left: 110px;
    /*justify-content: space-around;*/
}

.campuslist-container{
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    /*border-style: solid ;*/
    background: rgb(231, 231, 231);
    /*background-color: solid black;*/
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap:20px;
    width: 400px;
    height: 220px;
    border-radius: 5px;
    margin: 5px;
}
.campus-name{
    font-weight: normal;
    margin: auto;
    font-size: 30px;
    text-align:left;
    /*cursor: pointer;*/
}

.building-image{
    border: 3px solid grey;
    width: 200px;
    height: 180px;

}

.count-students{
    margin-top: -3px;
}

.cardlist-edit-button:hover{
    background-color: #86D189;
}

.cardlist-edit-button{
    border-radius: 40px; 
    border:0px;
    margin-top: 80px;
    margin-left: 25px;
    padding: 5px 12px;
    background-color:#3DBA42;
}

.cardlist-delete-button:hover{
    background-color: #D19E97
}

.cardlist-delete-button{
    border-radius: 40px; 
    border:0px;
    margin-left: 65px;
    padding: 5px 12px;
    background-color:#D9796C;
}

















