.campuslist-container{
    border-style: solid ;
    background: rgb(231, 231, 231);
    background-color: solid black;
    padding: 1em;
    display: grid;
    grid-template-columns: 32% 65%;
    grid-auto-rows: minmax(50px, auto);
    grid-gap:20px;
    width: 25%;
    height: 220px;
}
.campus-name{
    margin: auto;
    font-size: 30px;
    text-align:left;
}

.building-image{
	width: 150px;
	height: 180px;

}
.cardlist-edit-button{
    margin-top: 60px;
    padding: 0px 10px;
    background-color:limegreen;
}
.cardlist-delete-button{
    margin-left: 160px;
    padding: 0px 10px;
    background-color:rgb(221, 51, 51);
}