.form-container{
    background-color: ghostwhite;
    margin: auto;
    width: 60%;
    border-style: solid;
    padding: 0px 400px;
    text-align: center;
    display: grid;
    justify-items: center;
}
.ncf-header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 200px;
    font-size: 35px;
}
.form-campus-name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 50px;
}

.form-input-field{
    width: 400px;
    margin-bottom: 50px;
}

.form-add-button:hover{
    background-color: #3F88E8;
}

.form-add-button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  #45B8ED;
    border-radius: 40px;
    border:0px; 
    padding: 20px;
    margin-bottom: 310px;
}
