.ncr-container{
    background-color: ghostwhite;
    margin: auto;
    width: 63%;
    border-style: solid;
    padding: 0px 400px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.ncr-all-campus-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 50px;
}
.ncr-display{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ncr-add-campus-btn:hover{
    background-color: #3F88E8;
}

.ncr-add-campus-btn{
    border:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  #45B8ED;
    border-radius: 40px; 
    padding: 20px;
    margin-bottom: 290px;
}
.ncr-header{
    padding-bottom: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}