.ncr-container{
    background-color: ghostwhite;
    margin: auto;
    width: 63%;
    border-style: solid;
    padding: 0px 400px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.ncr-all-campus-title{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 50px;
}
.ncr-display{
    font-family: 'Times New Roman', Times, serif;
}
.ncr-add-campus-btn{
    font-family: 'Times New Roman', Times, serif;
    background-color: mediumturquoise;
    border-radius: 40px; 
    padding: 20px;
    margin-bottom: 290px;
}
.ncr-header{
    padding-bottom: 200px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}